body{
background-color: #15345A;
margin: 0;
font-family:Arial, Tahoma, Verdana;
width:100%;
text-align: center;
}

.vxod{
position:absolut;
border-radius: 5px 5px 5px 5px;
border: 1px solid F5F5F5;
background-color: #F5F5F5;
width: 280px;
height: 300px;
margin-top:150px;
margin-left:538px;
padding:20px;
}

#vxod h1{
color: #15426F;

}

#vxod p{
color: #15426F;
font-size: 16px;
font-family: Arial, Tahoma;
text-align: right;

}

#submitvoyti{
	azimuth:center-left; 
	border-bottom-style: none; 
	background: #207fcc; 
	border-radius: 2px 2px 2px 2px; 
	color: #FFFFFF; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	width: 85px;
	height: 40px;
}

#username{
vertical-align: middle; 
text-align:left; 
font: Geneva, Arial, Helvetica, sans-serif normal; 
font-size: 16px; 
color: #003366;
border-color:#ACACff;
height: 25px;
}
#input2{
vertical-align: middle; 
text-align:left; 
font: Geneva, Arial, Helvetica, sans-serif normal; 
font-size: 16px; 
color: #003366;
border-color:#ACACff;
height: 25px;
}
